# Pandas
pandasë€ pythonì—ì„œ excel, csvê³¼ ê°™ì€ table(í‘œ)í˜•íƒœì˜ 2ì°¨ì› ë°ì´í„°ë¥¼ ì‰½ê²Œ ë‹¤ë£° ìˆ˜ ìˆë„ë¡ ë‹¤ì–‘í•œ ê¸°ëŠ¥ì„ ì œê³µí•©ë‹ˆë‹¤.   
SQLê³¼ ë¹„ìŠ·í•œ ìš©ì–´ë“¤ì´ ë§ì´ ìˆìœ¼ë¯€ë¡œ pandasë¥¼ ê³µë¶€í•˜ë©´ SQLì„ ì¡°ê¸ˆ ë” ì‰½ê²Œ ì´í•´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤

In [1]:
# ë¨¼ì € pandasë¥¼ ì„¤ì¹˜ í›„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤!
!pip install pandas 
import pandas as pd # ê´€ë¡€ì ìœ¼ë¡œ ì¤„ì—¬ì„œ pdë¼ê³  ì‚¬ìš©í•©ë‹ˆë‹¤( as ëŠ” ëª¨ë“ˆì˜ ë³„ëª…ì„ ì§€ì •í•©ë‹ˆë‹¤!)

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

## Series, DataFrame
pandasì—ì„œëŠ” Seriesì™€ DataFrame ë‘ ì¢…ë¥˜ì˜ í˜•ì‹ì´ ìˆìŠµë‹ˆë‹¤  
SeriesëŠ” columnì´ 1ê°œì¸ 1ì°¨ì› ë°ì´í„° ì´ê³ ,  
DataFrameì€ ë‘ ê°œ ì´ìƒì˜ columnì´ ìˆëŠ” ë°ì´í„° ì…ë‹ˆë‹¤

## 1. Serise ìƒì„±
pd.Serise(seq_data, index): ì¸ìë¡œ ì‹œí€€ìŠ¤ ë°ì´í„°ë¥¼ ë°›ê³  Seriseí˜•ìœ¼ë¡œ ë°˜í™˜í•©ë‹ˆë‹¤(indexë¥¼ ì…ë ¥í•˜ì§€ ì•Šìœ¼ë©´ ê°œìˆ˜ì— ë§ê²Œ ìë™ ìƒì„±)

In [2]:
# ë„˜íŒŒì´ ë°°ì—´ë¡œ ì‹œë¦¬ì¦ˆ ìƒì„±
import numpy as np
seq_data=np.array([1.3,30,np.nan,np.sin(np.pi/2)])
s1=pd.Series(seq_data)
s1

0     1.3
1    30.0
2     NaN
3     1.0
dtype: float64

In [3]:
index_data=['A','B','C','D']
s1.index=index_data # Seriseë¥¼ ìƒì„±í•  ë•Œ index ì§€ì • ë˜í•œ ê°€ëŠ¥í•©ë‹ˆë‹¤
s1

A     1.3
B    30.0
C     NaN
D     1.0
dtype: float64

In [4]:
# í•´ë‹¹ ì¹¼ëŸ¼ì˜ ë°ì´í„°ê°’ì„ ëª¨ë‘ ë³´ì—¬ì¤ë‹ˆë‹¤
s1.values

array([ 1.3, 30. ,  nan,  1. ])

In [5]:
# ë”•ì…”ë„ˆë¦¬ë¡œ ì‹œë¦¬ì¦ˆ ìƒì„±
score={
    'êµ­ì–´':90,
    'ìˆ˜í•™':89,
    'ê³¼í•™':100,
    'ì˜ì–´':75
}
pd.Series(score)

êµ­ì–´     90
ìˆ˜í•™     89
ê³¼í•™    100
ì˜ì–´     75
dtype: int64

## 2. Serise ì—°ì‚°

In [6]:
s1=pd.Series(range(1,10)) # 1~9 -9ê°œ
s2=pd.Series(np.linspace(5,50,10)) # 5,10,...,50 -10ê°œ
s1+s2 # s1ì˜ 10ë²ˆì§¸ í–‰ì˜ ê°’ì´ ì—†ìœ¼ë¯€ë¡œ nanê°’ì— ì‚¬ì¹™ì—°ì‚°ì„ í•´ë„ nanìœ¼ë¡œ ë°˜í™˜

0     6.0
1    12.0
2    18.0
3    24.0
4    30.0
5    36.0
6    42.0
7    48.0
8    54.0
9     NaN
dtype: float64

In [7]:
s1*s2

0      5.0
1     20.0
2     45.0
3     80.0
4    125.0
5    180.0
6    245.0
7    320.0
8    405.0
9      NaN
dtype: float64

## 3. DataFrame ìƒì„±
pd.DataFrame(seq_data, index): ì¸ìë¡œ ì‹œí€€ìŠ¤ ë°ì´í„°ë¥¼ ë°›ê³  DataFrameí˜•ìœ¼ë¡œ ë°˜í™˜í•©ë‹ˆë‹¤(indexë¥¼ ì…ë ¥í•˜ì§€ ì•Šìœ¼ë©´ ê°œìˆ˜ì— ë§ê²Œ ìë™ ìƒì„±)

In [8]:
data=np.array([[1,2,3,4,5],[10,20,30,40,50]])
index_data=['X','X*10']
pd.DataFrame(data,index_data)

       0   1   2   3   4
X      1   2   3   4   5
X*10  10  20  30  40  50

In [9]:
dict_data={
    'ì—°ë„':range(2010,2022),
    'ë§¤ì¶œì•¡(ë§Œì›)':np.random.randint(100,200,12)
}
ct_data={
    'ì—°ë„':range(2010,2022),
    'ë§¤ì¶œì•¡(ë§Œì›)':np.random.randint(100,200,12)
}
df=pd.DataFrame(dict_data)
df

      ì—°ë„  ë§¤ì¶œì•¡(ë§Œì›)
0   2010      107
1   2011      159
2   2012      185
3   2013      151
4   2014      110
5   2015      152
6   2016      113
7   2017      138
8   2018      147
9   2019      179
10  2020      174
11  2021      129

## 4. ë°ì´í„°í”„ë ˆì„ ë©”ì†Œë“œ

In [10]:
# DataFrame.head(n),DataFrame.tail(n): ì²˜ìŒë¶€í„° nê¹Œì§€ ë°ì´í„°ë¥¼ ë³´ì—¬ì¤Œ, ë§ˆì§€ë§‰ë¶€í„° ë§ˆì§€ë§‰-nê¹Œì§€ ë°ì´í„°ë¥¼ ë³´ì—¬ì¤Œ (default=5)
print(df.head(),'\n')
print(df.tail(3))

     ì—°ë„  ë§¤ì¶œì•¡(ë§Œì›)
0  2010      107
1  2011      159
2  2012      185
3  2013      151
4  2014      110

      ì—°ë„  ë§¤ì¶œì•¡(ë§Œì›)
9   2019      179
10  2020      174
11  2021      129

In [11]:
# ì´í•©, í‰ê· , ìµœì†Œ, ìµœëŒ€
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].sum()) 
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].mean())
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].min())
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].max())

1744
145.33333333333334
107
185

In [12]:
# í‘œì¤€í¸ì°¨, ë¶„ì‚°, ëˆ„ì í•©
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].std())
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].var())
print(df['ë§¤ì¶œì•¡(ë§Œì›)'].cumsum())

26.76270584680152
716.2424242424242
0      107
1      266
2      451
3      602
4      712
5      864
6      977
7     1115
8     1262
9     1441
10    1615
11    1744
Name: ë§¤ì¶œì•¡(ë§Œì›), dtype: int64

In [13]:
# DataFrame.describe(): ìˆ«ìí˜• ë°ì´í„° ê°’ì˜ ë¶„í¬, í‰ê· , ìµœëŒ“ê°’, ìµœì†Ÿê°’ì„ ì•Œë ¤ì¤ë‹ˆë‹¤. (ë¬¸ìí˜•ì€ ì¶œë ¥ì—ì„œ ì œì™¸ë©ë‹ˆë‹¤.)
# countê°’ëŠ” non-nullê°œìˆ˜ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.
df.describe()

                ì—°ë„     ë§¤ì¶œì•¡(ë§Œì›)
count    12.000000   12.000000
mean   2015.500000  145.333333
std       3.605551   26.762706
min    2010.000000  107.000000
25%    2012.750000  125.000000
50%    2015.500000  149.000000
75%    2018.250000  162.750000
max    2021.000000  185.000000

In [14]:
# DataFrame.info(): ë°ì´í„°í”„ë ˆì„ì˜ ì´ ë°ì´í„°ê±´ìˆ˜, ë°ì´í„° íƒ€ì…, Nullê±´ìˆ˜ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ì—°ë„       12 non-null     int64
 1   ë§¤ì¶œì•¡(ë§Œì›)  12 non-null     int64
dtypes: int64(2)
memory usage: 320.0 bytes

In [15]:
# DataFrame.shape: ë°ì´í„°í”„ë ˆì„ì˜ row, columnìˆ˜ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤
df.shape

(12, 2)

In [16]:
# Dataframe.where(ì¡°ê±´ë¬¸)
df.where(df['ì—°ë„']==2019)['ë§¤ì¶œì•¡(ë§Œì›)']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9     179.0
10      NaN
11      NaN
Name: ë§¤ì¶œì•¡(ë§Œì›), dtype: float64

In [17]:
# Series.value_counts() : ì§€ì •ëœ ì»¬ëŸ¼ì˜ ë°ì´í„° ê°’ì˜ ê°œìˆ˜ë¥¼ ì•Œë ¤ì¤ë‹ˆë‹¤.
# -> value_counts()ëŠ” Series(ë°ì´í„°í”„ë ˆì„ì˜ í•˜ë‚˜ì˜ ì—´) í˜•íƒœì˜ ë°ì´í„°ì—ë§Œ ì‚¬ìš© ê°€ëŠ¥í•©ë‹ˆë‹¤.
df['ë§¤ì¶œì•¡(ë§Œì›)'].value_counts()

129    1
113    1
147    1
179    1
151    1
152    1
185    1
138    1
107    1
174    1
110    1
159    1
Name: ë§¤ì¶œì•¡(ë§Œì›), dtype: int64

## 5. ë°ì´í„°í”„ë ˆì„ ìŠ¬ë¼ì´ì‹±

In [18]:
# 1. ê°€ì¥ ê¸°ë³¸ì ì¸ DataFrame[]ë°©ì‹
print(df['ì—°ë„'],'\n')

# 2. DataFrame.iloc[ë¡œìš° ì¸ë±ìŠ¤,ì¹¼ëŸ¼ ì¸ë±ìŠ¤]ë°©ì‹
print(df.iloc[6,0],'\n')

# 3. DataFrame.loc[ë¡œìš° ì¸ë±ìŠ¤, ì¹¼ëŸ¼ëª…]ë°©ì‹
print(df.loc[6,'ë§¤ì¶œì•¡(ë§Œì›)'],'\n')

# 4. ë¶ˆë¦° ì¸ë±ì‹± ë°©ì‹
print(df[df['ë§¤ì¶œì•¡(ë§Œì›)']==df['ë§¤ì¶œì•¡(ë§Œì›)'].max()])

0     2010
1     2011
2     2012
3     2013
4     2014
5     2015
6     2016
7     2017
8     2018
9     2019
10    2020
11    2021
Name: ì—°ë„, dtype: int64

2016

113

     ì—°ë„  ë§¤ì¶œì•¡(ë§Œì›)
2  2012      185

## 6. ë°ì´í„°í”„ë ˆì„ ì¡°ì‘í•˜ê¸°
#### (1) row, columnë³€ê²½í•˜ê¸°

In [19]:
df_weather=pd.DataFrame([
    {'ë´„':np.nan,
    'ì—¬ë¦„':39,
    'ê°€ì„':25,
    'ê²¨ìš¸':9},
    {'ë´„':27,
    'ì—¬ë¦„':41,
    'ê°€ì„':23,
    'ê²¨ìš¸':10},
    {'ë´„':22,
    'ì—¬ë¦„':42,
    'ê°€ì„':20,
    'ê²¨ìš¸':8},
    {'ë´„':25,
    'ì—¬ë¦„':37,
    'ê°€ì„':21,
    'ê²¨ìš¸':11}
])
df_weather

      ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
0   NaN  39  25   9
1  27.0  41  23  10
2  22.0  42  20   8
3  25.0  37  21  11

In [20]:
# ì „ì¹˜
df_weather.transpose()
df_weather.T

       0     1     2     3
ë´„    NaN  27.0  22.0  25.0
ì—¬ë¦„  39.0  41.0  42.0  37.0
ê°€ì„  25.0  23.0  20.0  21.0
ê²¨ìš¸   9.0  10.0   8.0  11.0

In [21]:
# ìˆœì„œë³€ê²½ DataFrame[[ë°”ê¿€ ìˆœì„œ]]
df_weather[['ë´„','ê°€ì„','ì—¬ë¦„','ê²¨ìš¸']] # columnì˜ ìˆœì„œë¥¼ ë³€ê²½

      ë´„  ê°€ì„  ì—¬ë¦„  ê²¨ìš¸
0   NaN  25  39   9
1  27.0  23  41  10
2  22.0  20  42   8
3  25.0  21  37  11

In [22]:
df_weather.loc[[3,0]] # rowì˜ ìˆœì„œ ë³€ê²½

      ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
3  25.0  37  21  11
0   NaN  39  25   9

#### (2) row, column ì¶”ê°€í•˜ê¸°

In [23]:
# df.append(df): í–‰ ì¶”ê°€í•˜ê¸°
data={'ë´„':np.nan,'ì—¬ë¦„':np.nan,'ê°€ì„':23,'ê²¨ìš¸':9}
df_weather.append(data, ignore_index=True)

      ë´„    ì—¬ë¦„    ê°€ì„    ê²¨ìš¸
0   NaN  39.0  25.0   9.0
1  27.0  41.0  23.0  10.0
2  22.0  42.0  20.0   8.0
3  25.0  37.0  21.0  11.0
4   NaN   NaN  23.0   9.0

In [24]:
# df['ì¹¼ëŸ¼ëª…']=seq_data: ì—´ ì¶”ê°€í•˜ê¸°
df_weather['ì—°ë„']=[2017,2018,2019,2020]
df_weather=df_weather[['ì—°ë„','ë´„','ì—¬ë¦„','ê°€ì„','ê²¨ìš¸']]
df_weather

     ì—°ë„     ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
0  2017   NaN  39  25   9
1  2018  27.0  41  23  10
2  2019  22.0  42  20   8
3  2020  25.0  37  21  11

#### (3) ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸°

In [25]:
# df.merge(df2, how='ì¡°ì¸ ë°©ë²•', on='ì¹¼ëŸ¼ëª…'): ë‹¤ë¥¸ ë°ì´í„°í”„ë ˆì„ì´ë‘ í•©ì¹˜ê¸°
df_precipitation=pd.DataFrame([{'ì—°ë„':2017,'ê°•ìˆ˜ëŸ‰':1230},{'ì—°ë„':2019,'ê°•ìˆ˜ëŸ‰':1524}])

# ë‚´ë¶€ì¡°ì¸: nanê°’ì´ ìƒê¸°ë©´ ê²°í•©X
df_weather.merge(df_precipitation,how='inner',on='ì—°ë„')

     ì—°ë„     ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸   ê°•ìˆ˜ëŸ‰
0  2017   NaN  39  25   9  1230
1  2019  22.0  42  20   8  1524

In [26]:
# ì™¸ë¶€ì¡°ì¸: nanê°’ì´ ìˆì–´ë„ ê²°í•©
df_weather=df_weather.merge(df_precipitation,how='outer',on='ì—°ë„')
df_weather

     ì—°ë„     ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸     ê°•ìˆ˜ëŸ‰
0  2017   NaN  39  25   9  1230.0
1  2018  27.0  41  23  10     NaN
2  2019  22.0  42  20   8  1524.0
3  2020  25.0  37  21  11     NaN

#### (4) ë°ì´í„°í”„ë ˆì„ ì „ì²˜ë¦¬í•˜ê¸°

In [27]:
# df.isnull(): ë°ì´í„°ì— nullê°’ì´ ìˆìœ¼ë©´ True ì—†ìœ¼ë©´ Falseë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤
df_weather.isnull().sum()

ì—°ë„     0
ë´„      1
ì—¬ë¦„     0
ê°€ì„     0
ê²¨ìš¸     0
ê°•ìˆ˜ëŸ‰    2
dtype: int64

In [28]:
# df.fillna(): nullê°’ì„ ì±„ì›Œì¤ë‹ˆë‹¤
df_weather['ë´„'].fillna(df_weather['ë´„'].mean(), inplace=True) #inplace=TrueëŠ” ì›ë³¸ë°ì´í„°ë¥¼ ë°”ê¿”ì¤ë‹ˆë‹¤
df_weather

     ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸     ê°•ìˆ˜ëŸ‰
0  2017  24.666667  39  25   9  1230.0
1  2018  27.000000  41  23  10     NaN
2  2019  22.000000  42  20   8  1524.0
3  2020  25.000000  37  21  11     NaN

In [29]:
# df.drop('ì¹¼ëŒëª…',axis=): ë°ì´í„°ë¥¼ ì‚­ì œí•©ë‹ˆë‹¤
df_weather.drop('ê°•ìˆ˜ëŸ‰',axis=1,inplace=True)
df_weather

     ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
0  2017  24.666667  39  25   9
1  2018  27.000000  41  23  10
2  2019  22.000000  42  20   8
3  2020  25.000000  37  21  11

In [30]:
# df.sort_values(by='ì¹¼ëŸ¼ëª…', ascending=True): ì¹¼ëŸ¼ëª… ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•©ë‹ˆë‹¤
df_weather.sort_values(by='ê²¨ìš¸')

     ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
2  2019  22.000000  42  20   8
0  2017  24.666667  39  25   9
1  2018  27.000000  41  23  10
3  2020  25.000000  37  21  11

In [31]:
df_weather.sort_values(by='ì—¬ë¦„', ascending=False)

     ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸
2  2019  22.000000  42  20   8
1  2018  27.000000  41  23  10
0  2017  24.666667  39  25   9
3  2020  25.000000  37  21  11

In [32]:
# df[column].apply(func): íŠ¹ì • ì¹¼ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ í•¨ìˆ˜ë¥¼ ì ìš©í•©ë‹ˆë‹¤
df_weather['temp']=df_weather['ì—¬ë¦„'].apply(lambda x: 'ğŸ¥µ' if x>40 else 'ğŸ‘Œ')
df_weather

     ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸ temp
0  2017  24.666667  39  25   9    ğŸ‘Œ
1  2018  27.000000  41  23  10    ğŸ¥µ
2  2019  22.000000  42  20   8    ğŸ¥µ
3  2020  25.000000  37  21  11    ğŸ‘Œ

## 7. íŒŒì¼ ì½ê³  ì“°ê¸°

In [33]:
# df.to_csv('íŒŒì¼ ê²½ë¡œ'): csvë¡œ ë³´ë‚´ê¸° (excelë„ ê°€ëŠ¥)
df_weather.to_csv('weather.csv')

In [34]:
# pd.read_csv('íŒŒì¼ê²½ë¡œ'): csvíŒŒì¼ ì½ê¸° (excelë„ ê°€ëŠ¥)
pd.read_csv('weather.csv')

   Unnamed: 0    ì—°ë„          ë´„  ì—¬ë¦„  ê°€ì„  ê²¨ìš¸ temp
0           0  2017  24.666667  39  25   9    ğŸ‘Œ
1           1  2018  27.000000  41  23  10    ğŸ¥µ
2           2  2019  22.000000  42  20   8    ğŸ¥µ
3           3  2020  25.000000  37  21  11    ğŸ‘Œ